$dark-color: #19283f;
$green-color: #ff3150;
$red-color: #ff3150;
$yellow-color: #ffc400;
$section-color: #eff7fa;
$blue-color: #4070f4;
$blue-color-light: #4070f49e;
$error: #b00020;
$input-focus: #e1e1e154;
$icon-color: #999;
$normal-border: #ccc;
$blue-second: #265df2;
