
.scroll-top {
  background: blue;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: 2px solid white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 4px;
  display: none;
  cursor: pointer;


}
.scroll-top:hover i {
  transform: translateY(-29px);
  transition: 0.4s;
}
